@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="menu-buttons col-md-6 margin-top-20">
        <a href="@Url.Action("Withdraw", "Transaction")" class="btn btn-large btn-block">
            Withdrawal
        </a>
        <a href="#" id="cash" class="btn btn-primary btn-large btn-block">
            Quick Cash $100
        </a>
        <a href="@Url.Action("Balance", "CheckingAccount")" class="btn btn-large btn-block">
            Balance Inquery
        </a>
    </div>
    <div class="menu-buttons col-md-6 margin-top-20">
        <a href="@Url.Action("Statement", "CheckingAccount")" class="btn btn-large btn-block">
            Print Statement
        </a>
        <a href="@Url.Action("Transfer", "Transaction")" class="btn btn-large btn-block">
            Transfer Funds
        </a>
        <a href="@Url.Action("Deposit", "Transaction",
                new { checkingAccountId = ViewData["CheckingAccountId"] })"
           class="btn btn-large btn-block">
            Deposit
        </a>
    </div>
    <p id="message"></p>
</div>

@section scripts {
    <script type="text/jscript">
        $("#cash").click(function (e) {
            e.preventDefault();

            var url = "/Transaction/QuickCash";
            $.get(url, null, function (data) {
                $("#message").html(data);
            });  
        });
    </script>
}