@model BankingApp.Models.CheckingAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">

                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Balance)
            </dd>
        </dl>
    </div>
</div>