@model IEnumerable<BankingApp.Models.Transaction>
@{
    ViewData["Title"] = "Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statement</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Id)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Amount)</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>

